* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: 200px auto auto auto;
  grid-template-rows: auto auto auto;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 100%);
}

/*TITULOS Y SUBTITULOS*/
.titulo {
  font-size: xx-large;
  color: hsl(106, 100%, 60%);
  font-family: "Bebas Neue", sans-serif;
}

.subtitle {
  font-size: xx-large;
  text-align: center;
  margin: 10px;
}

/*FIN DE TITULOS Y SUBTITULOS*/
/*INICIO*/
.contenidoini {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: -4;
  grid-row-end: 1;
  background-color: hsl(267, 99%, 48%);
  display: grid;
  grid-template-rows: auto auto;
}

.containerlomas {
  grid-row-start: -4;
  grid-row-end: 1;
  text-align: center;
}

.containernove {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.cont {
  padding: 10px;
  margin: 0 auto;
  text-align: start;
  width: auto;
  text-align: center;
}

.imgini {
  height: 350px;
  width: 550px;
}

.card-img-top {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

/*FIN DE INICIO*/
/*MENU*/
header {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: hsl(240, 95%, 59%);
}
header .containernav {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 200px auto;
}
header .containernav .menulink {
  position: sticky;
  top: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  align-content: center;
  width: 100%;
  height: 100%;
}
header .containernav .menulink .iconoheader {
  width: 60px;
  margin: 10px;
}
header .containernav .menuli {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: start;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}
header .containernav .menuli ul {
  position: sticky;
  top: 175px;
  padding: 0;
  margin: 0;
  margin-top: -25px;
}
header .containernav .menuli ul li {
  list-style-type: none;
  margin-top: 4.5vw;
  font-size: large;
}

.menuli a {
  text-decoration: none;
  font-weight: bolder;
  color: hsl(106, 100%, 60%);
  padding: 10px;
}

.menuli a:hover {
  border-radius: 20px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(180, 100%, 97%);
}

/*FIN MENU*/
/*INICIO NOSOTROS*/
.contnos {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: hsl(267, 99%, 48%);
}

.subtinos {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contunpoco {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}

.contunpoco2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-bottom: 25px;
}

.carrouselfounder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
}

.actualinos {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 50px;
}

.carousel-inner img {
  width: 300px;
  padding-top: 90px;
}

/*FIN DE NOSOTROS*/
/*INICIO CLASES*/
.containerpacks {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: -4;
  grid-row-end: 1;
  width: 100%;
  background-color: hsl(267, 99%, 48%);
  display: grid;
  grid-template-rows: auto 50px auto;
  justify-items: center;
}
.containerpacks .redesclases {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(267, 100%, 62%);
  width: 100%;
}
.containerpacks .redesclases .logoredes {
  max-width: 35px;
  max-height: 35px;
}
.containerpacks .pack1 {
  margin: 16px;
  align-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.containerpacks .pack2 {
  margin: 16px;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

/*FIN DE CLASES*/
/*FOOTER*/
footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: hsl(267, 99%, 48%);
  text-align: center;
}

.normalfooter {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  justify-items: center;
}
.normalfooter .redes {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(267, 100%, 62%);
  width: 100%;
}
.normalfooter .redes .logoredes {
  max-width: 35px;
  max-height: 35px;
}
.normalfooter .sellos {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}
.normalfooter .sellos .marca {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/*FIN FOOTER*/
/*FOOTER CLASES*/
.containersede {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  width: 100%;
}
.containersede .sedetxt {
  margin: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}
.containersede .sedemps {
  width: 100%;
  margin: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*FIN FOOTER CLASES*/
/*INICIO PRODUCTOS*/
.containerpaletas {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: -4;
  grid-row-end: 1;
  background-color: hsl(267, 99%, 48%);
  display: grid;
  grid-template-rows: auto auto;
}
.containerpaletas .containeradidas {
  grid-row-start: -4;
  grid-row-end: 1;
  text-align: center;
}
.containerpaletas .containeradidas .card-footer {
  justify-items: center;
}

/*FIN PRODUCTOS*/
/*MEDIA*/
@media screen and (max-width: 425px) {
  .contnos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .contunpoco {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .contunpoco2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .carrouselfounder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: -70px;
  }
  .actualinos {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media screen and (max-width: 768px) {
  .contnos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .contunpoco {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .contunpoco2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .carrouselfounder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: -70px;
  }
  .actualinos {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

/*# sourceMappingURL=estilo.css.map */
