/*COLORES*/
$azulvioleta: hsl(240, 95%, 59%);
$limaneon: hsl(106, 80%, 62%);
$negropuro: hsl(0, 0%, 0%);
$blancobone:hsl(180, 100%, 97%);
$lilacrema: hsl(267, 100%, 75%);
$lilapower: hsl(267, 94%, 66%);
/*TIPOGRAFIAS*/
$cuerpo:"Montserrat", sans-serif;
$tys: "Bebas Neue", sans-serif;

