/*MEDIA*/
@media screen and (max-width: 425px) {
    .contnos {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }
  
    .contunpoco {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    .contunpoco2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  
    .carrouselfounder {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: -70px;
    }
  
    .actualinos {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contnos {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }
  
    .contunpoco {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    .contunpoco2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  
    .carrouselfounder {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: -70px;
    }
  
    .actualinos {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }