//colors
$azulbrillante:hsl(240, 95%, 59%);
$limaneon:hsl(106, 100%, 60%);
$negropuro:hsl(0, 0%, 0%);
$blancohueso:hsl(180, 100%, 97%);
$lilafuerte: hsl(267, 94%, 66%);
$lilapastel:hsl(267, 100%, 60%);

//typography
$cletra: hsl(0, 0%, 100%);
$ttitulo: xx-large;
$tsubtitle: xx-large;
$fontmontserrat : "Montserrat", sans-serif;
$tiysu:"Bebas Neue", sans-serif;