//colors
$azulbrillante:hsl(240, 95%, 59%);
$limaneon:hsl(106, 80%, 62%);
$negropuro:hsl(0, 0%, 0%);
$blancohueso:hsl(180, 100%, 97%);
$lilafuerte: hsl(267, 94%, 66%);
$lilapastel:hsl(267, 100%, 75%);
//typography
$texto-general:"Montserrat", sans-serif;
$tiysu:"Bebas Neue", sans-serif;