/*INICIO CLASES*/
.imgclass {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
  }
  
  .sanyo {
    position: relative;
    width: 100%;
    z-index: 0;
  }
  
  /*FIN DE CLASES*/