/*FOOTER*/
footer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $lilafuerte;
    text-align: center;
    justify-content: center;
  }
  .normalfooter{
    display:grid;
    grid-template-rows: auto auto ;
    width: 100%;
    .redes{
      grid-row-start: 0;
      grid-row-end: 1;
    }
    .sellos{
      grid-row-start: 1;
      grid-row-end: 2;
      .marca {
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
      }
    }
  }
  
  /*FIN FOOTER*/
  /*FOOTER CLASES*/
  .containersede{
    .sedetxt{}
    .sedemps{}
  }
  /*FIN FOOTER CLASES*/