/*FOOTER*/
footer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $lilafuerte;
    text-align: center;
    justify-content: center;
    }
  .normalfooter{
    display:grid;
    grid-template-rows: auto auto ;
    width: 100%;
    .redes{
      grid-row-start: 0;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      width: 50px;
    }
    .sellos{
      grid-row-start: 1;
      grid-row-end: 2;
      .marca {
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
      }
    }
 }
  /*FIN FOOTER*/
  /*FOOTER CLASES*/
  .containersede{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 50px auto;
    text-align: center;
    .redesclases{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $lilapastel;
      width: 1149px;
      .logoredes{
        max-width: 35px;
        max-height: 35px;
      }
    }
    .sedetxt{
      margin: 10px;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .sedemps{
      margin: 10px;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
/*FIN FOOTER CLASES*/
