//BASE
.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: 200px auto auto auto;
  grid-template-rows: auto auto auto;
  font-family: $fontmontserrat;
}
  /*TITULOS Y SUBTITULOS*/
  .titulo {
    font-size: $ttitulo;
    color: $limaneon;
    font-family: $tiysu;
  }
  
  .subtitle {
    font-size: $tsubtitle;
    text-align: center;
    margin: 10px;
  }
  /*FIN DE TITULOS Y SUBTITULOS*/